In [2]:
# Dependencies and Setup
import pandas as pd

#Read in csv
vine_df = pd.read_csv("vine_table.csv")
vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1NBG94582SJE2,5,0,0,N,Y
1,R273DCA6Y0H9V7,5,0,0,N,Y
2,RQVOXO7WUOFK6,2,1,1,N,Y
3,R1KWKSF21PO6HO,5,0,0,N,Y
4,R38H3UO1J190GI,5,1,1,N,Y
5,R3NPIFKLR19NQA,3,0,0,N,Y
6,R3MBE6UCH3435E,3,8,8,N,N
7,R2E7A4FF0PVY5Q,5,0,1,N,Y
8,R3R8JDQ2BF4NM,5,0,2,N,Y
9,R1YND4BS823GN5,1,0,0,N,Y

In [3]:
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
66,R3FJ319XA6ZAUQ,2,21,25,N,Y
124,R6HRF25HUMIIE,5,24,24,N,Y
173,R2CTAK3APOFKZU,5,37,38,N,N
217,R1WQZB0CAEPQBU,2,85,128,N,N
221,RHZDSA48HVRVK,5,49,86,N,N

In [4]:
helpful = filtered_vine_df['helpful_votes']
total = filtered_vine_df['total_votes']

#filter for rows where helpful/total is greater than or equal to 50 percent 
helpful_total_df = filtered_vine_df[helpful/total >= 0.5]
helpful_total_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
66,R3FJ319XA6ZAUQ,2,21,25,N,Y
124,R6HRF25HUMIIE,5,24,24,N,Y
173,R2CTAK3APOFKZU,5,37,38,N,N
217,R1WQZB0CAEPQBU,2,85,128,N,N
221,RHZDSA48HVRVK,5,49,86,N,N

In [5]:
vine = helpful_total_df['vine']

#retrieve all the rows where a review was written as part of the Vine program (paid)
paid_reviews_df = helpful_total_df[vine == 'Y']
paid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4369,R37L6YZDX0P3J9,1,28,35,Y,N
5626,R2JT4XRQO2KASL,5,38,41,Y,N
32654,R10XRAOBFFSTL2,5,44,47,Y,N
34033,R1X8F3R1K1SF5,2,30,31,Y,N
57729,R326QV66CKBB43,4,127,139,Y,N

In [6]:
#retrieve all the rows where the review was not part of the Vine program (unpaid)
unpaid_reviews_df = helpful_total_df[vine == 'N']
unpaid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
66,R3FJ319XA6ZAUQ,2,21,25,N,Y
124,R6HRF25HUMIIE,5,24,24,N,Y
173,R2CTAK3APOFKZU,5,37,38,N,N
217,R1WQZB0CAEPQBU,2,85,128,N,N
221,RHZDSA48HVRVK,5,49,86,N,N

In [7]:
# Determine the total number of reviews
total_reviews = len(helpful_total_df)
total_reviews

51123

In [8]:
#Determine the total number of paid reviews
paid_reviews= len(paid_reviews_df)
paid_reviews

607

In [9]:
#Determine the number of paid 5-star reviews
five_star_reviews_paid = len(paid_reviews_df[paid_reviews_df['star_rating'] ==5])
five_star_reviews_paid

257

In [13]:
#Determine the total number of paid reviews
unpaid_reviews= len(unpaid_reviews_df)
unpaid_reviews

50516

In [10]:
#Determine the number of unpaid 5-star reviews
five_star_reviews_unpaid = len(unpaid_reviews_df[unpaid_reviews_df['star_rating'] == 5])
five_star_reviews_unpaid

25216

In [14]:
# Determine the percentage of 5-star reviews for paid reviews
paid_5_star_percentage = (five_star_reviews_paid / paid_reviews)*100
print(f"The percentage of paid 5 star reviews is {paid_5_star_percentage}%.")

The percentage of paid 5 star reviews is 42.33937397034596%.

In [15]:
# Determine the percentage of 5-star reviews for unpaid reviews
unpaid_5_star_percentage = (five_star_reviews_unpaid / unpaid_reviews)*100
print(f"The percentage of unpaid 5 star reviews is {unpaid_5_star_percentage}%.")

The percentage of unpaid 5 star reviews is 49.91685802518014%.